<head>
        <meta charset="utf-8">
        <meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
        <title>Trivia Mobile</title>
        <link rel="stylesheet" href="../css/jquery.mobile.min.css">
        <link rel="stylesheet" media="screen and (min-device-width: 1600px)" href="../css/azul_verde_web.css">
        <link rel="stylesheet" media="screen and (max-device-width: 1000px)" href="../css/azul_verde.css">
        <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="../js/jquery.mobile.min.js"></script>
        <script type="text/javascript" src="../js/jquery.tmpl.js"></script>
        <!-- Cookies -->
        <script type="text/javascript" src="../js/cookie/cookie.jquery.js"></script>
        <!-- Funcion para chequear cookies -->
        <script type="text/javascript" src="../js/cookie/check.js"></script>
        <!-- JSON -->
        <script type="text/javascript" src="../js/cookie/json2.js"></script>
        <script type="text/javascript" src="../js/config.js"></script>
        <!-- Plantilla para radio-buttons que forman las opciones-->
        <script id="plantilla_radio" type="text/x-jquery-tmpl">
            <li data-theme="a">
                <input type="radio" name="opciones" id="${id}"/>
                <label id="${id}" for="${id}">${contenido_opcion}</label>
            </li>
        </script>
        <!-- Plantilla para la lista de puntajes-->
        <script id="plantilla_lista_puntaje" type="text/x-jquery-tmpl">
            <li data-theme="a">${name} - ${puntaje} pts. - ${email}</li>
        </script>
</head>