<!-- Plantilla para radio-buttons que forman las opciones-->
<script id="plantilla_radio" type="text/x-jquery-tmpl">
<li data-theme="a">
    <input type="radio" name="opciones" id="${id}"/>
    <label id="${id}" for="${id}">${contenido_opcion}</label>
</li>
</script>
<!-- Plantilla para la lista de puntajes-->
<script id="plantilla_lista_puntaje" type="text/x-jquery-tmpl">
    <li data-theme="a">${name} - ${puntaje} pts. - ${email}</li>
</script>